<a href="https://colab.research.google.com/github/vaibhavpathak999/Machine-Learning-Course-/blob/master/ML_2_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importing Pandas Module

In [ ]:
import pandas as pd

# Reading datasets from a link

In [ ]:
iris=pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data")
iris

     5.1  3.5  1.4  0.2     Iris-setosa
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

# Printing type of dataset

In [ ]:
print(type(iris))

<class 'pandas.core.frame.DataFrame'>

### Printing Shape

In [ ]:
iris.shape

(149, 5)

In [ ]:
iris.describe

<bound method NDFrame.describe of      5.1  3.5  1.4  0.2     Iris-setosa
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]>

In [ ]:
iris.columns

Index(['5.1', '3.5', '1.4', '0.2', 'Iris-setosa'], dtype='object')

In [ ]:
iris.columns = ['SepalLength','SepalWidth','PetalLength','PetalWidth','Flower_Type']

In [ ]:
iris.columns

Index(['SepalLength', 'SepalWidth', 'PetalLength', 'PetalWidth',
       'Flower_Type'],
      dtype='object')

In [ ]:
iris.isnull()

     SepalLength  SepalWidth  PetalLength  PetalWidth  Flower_Type
0          False       False        False       False        False
1          False       False        False       False        False
2          False       False        False       False        False
3          False       False        False       False        False
4          False       False        False       False        False
..           ...         ...          ...         ...          ...
144        False       False        False       False        False
145        False       False        False       False        False
146        False       False        False       False        False
147        False       False        False       False        False
148        False       False        False       False        False

[149 rows x 5 columns]

### Accessing data from between of a dataframe we use iloc

In [ ]:
iris.iloc[1:4,0:6]

   SepalLength  SepalWidth  PetalLength  PetalWidth  Flower_Type
1          4.7         3.2          1.3         0.2  Iris-setosa
2          4.6         3.1          1.5         0.2  Iris-setosa
3          5.0         3.6          1.4         0.2  Iris-setosa

### we don't use df=iris make both df and iris point same object

# Data Manipulation (Part-1)

In [ ]:
df = iris.copy()

In [ ]:
df.head(5)

   SepalLength  SepalWidth  PetalLength  PetalWidth  Flower_Type
0          4.9         3.0          1.4         0.2  Iris-setosa
1          4.7         3.2          1.3         0.2  Iris-setosa
2          4.6         3.1          1.5         0.2  Iris-setosa
3          5.0         3.6          1.4         0.2  Iris-setosa
4          5.4         3.9          1.7         0.4  Iris-setosa

In [ ]:
df.drop(0)

     SepalLength  SepalWidth  PetalLength  PetalWidth     Flower_Type
1            4.7         3.2          1.3         0.2     Iris-setosa
2            4.6         3.1          1.5         0.2     Iris-setosa
3            5.0         3.6          1.4         0.2     Iris-setosa
4            5.4         3.9          1.7         0.4     Iris-setosa
5            4.6         3.4          1.4         0.3     Iris-setosa
..           ...         ...          ...         ...             ...
144          6.7         3.0          5.2         2.3  Iris-virginica
145          6.3         2.5          5.0         1.9  Iris-virginica
146          6.5         3.0          5.2         2.0  Iris-virginica
147          6.2         3.4          5.4         2.3  Iris-virginica
148          5.9         3.0          5.1         1.8  Iris-virginica

[148 rows x 5 columns]

### Even we have dropped the zeroth label row but there is no effect on our real dataframe, for making a permanent change we have to use inplace=True arguement

In [ ]:
df.drop(0,inplace=True)

Now there is no row with the label 0

In [ ]:
df.head(5)

   SepalLength  SepalWidth  PetalLength  PetalWidth  Flower_Type
1          4.7         3.2          1.3         0.2  Iris-setosa
2          4.6         3.1          1.5         0.2  Iris-setosa
3          5.0         3.6          1.4         0.2  Iris-setosa
4          5.4         3.9          1.7         0.4  Iris-setosa
5          4.6         3.4          1.4         0.3  Iris-setosa

In [ ]:
df[df.SepalLength>5].head(10)

    SepalLength  SepalWidth  PetalLength  PetalWidth  Flower_Type
4           5.4         3.9          1.7         0.4  Iris-setosa
9           5.4         3.7          1.5         0.2  Iris-setosa
13          5.8         4.0          1.2         0.2  Iris-setosa
14          5.7         4.4          1.5         0.4  Iris-setosa
15          5.4         3.9          1.3         0.4  Iris-setosa
16          5.1         3.5          1.4         0.3  Iris-setosa
17          5.7         3.8          1.7         0.3  Iris-setosa
18          5.1         3.8          1.5         0.3  Iris-setosa
19          5.4         3.4          1.7         0.2  Iris-setosa
20          5.1         3.7          1.5         0.4  Iris-setosa

In [ ]:
df[df.Flower_Type=='Iris-setosa'].head(5)

   SepalLength  SepalWidth  PetalLength  PetalWidth  Flower_Type
1          4.7         3.2          1.3         0.2  Iris-setosa
2          4.6         3.1          1.5         0.2  Iris-setosa
3          5.0         3.6          1.4         0.2  Iris-setosa
4          5.4         3.9          1.7         0.4  Iris-setosa
5          4.6         3.4          1.4         0.3  Iris-setosa

## Adding a Row

In [ ]:
#using a label which we deleted earlier

df.loc[0]=[4.5,3.0,1.5,0.1,"Iris-setosa"]
df.head(3)

   SepalLength  SepalWidth  PetalLength  PetalWidth  Flower_Type
1          4.7         3.2          1.3         0.2  Iris-setosa
2          4.6         3.1          1.5         0.2  Iris-setosa
3          5.0         3.6          1.4         0.2  Iris-setosa

## Manipulating Data in DataFrame (Part-2)

In [ ]:
df.drop(5,inplace=True)
df.head(7)

    SepalLength  SepalWidth  PetalLength  PetalWidth  Flower_Type
4           5.4         3.9          1.7         0.4  Iris-setosa
6           5.0         3.4          1.5         0.2  Iris-setosa
7           4.4         2.9          1.4         0.2  Iris-setosa
8           4.9         3.1          1.5         0.1  Iris-setosa
9           5.4         3.7          1.5         0.2  Iris-setosa
10          4.8         3.4          1.6         0.2  Iris-setosa
11          4.8         3.0          1.4         0.1  Iris-setosa

In [ ]:
df.drop(9,inplace=True)
df.head(7)

    SepalLength  SepalWidth  PetalLength  PetalWidth  Flower_Type
4           5.4         3.9          1.7         0.4  Iris-setosa
6           5.0         3.4          1.5         0.2  Iris-setosa
7           4.4         2.9          1.4         0.2  Iris-setosa
8           4.9         3.1          1.5         0.1  Iris-setosa
10          4.8         3.4          1.6         0.2  Iris-setosa
11          4.8         3.0          1.4         0.1  Iris-setosa
12          4.3         3.0          1.1         0.1  Iris-setosa

In [ ]:
# reseting the index 
df.reset_index()

     index  SepalLength  SepalWidth  PetalLength  PetalWidth     Flower_Type
0        4          5.4         3.9          1.7         0.4     Iris-setosa
1        6          5.0         3.4          1.5         0.2     Iris-setosa
2        7          4.4         2.9          1.4         0.2     Iris-setosa
3        8          4.9         3.1          1.5         0.1     Iris-setosa
4       10          4.8         3.4          1.6         0.2     Iris-setosa
..     ...          ...         ...          ...         ...             ...
138    144          6.7         3.0          5.2         2.3  Iris-virginica
139    145          6.3         2.5          5.0         1.9  Iris-virginica
140    146          6.5         3.0          5.2         2.0  Iris-virginica
141    147          6.2         3.4          5.4         2.3  Iris-virginica
142    148          5.9         3.0          5.1         1.8  Iris-virginica

[143 rows x 6 columns]

In [ ]:
# reseting the index and droping the previous index
df.reset_index(drop=True)

     SepalLength  SepalWidth  PetalLength  PetalWidth     Flower_Type
0            5.4         3.9          1.7         0.4     Iris-setosa
1            5.0         3.4          1.5         0.2     Iris-setosa
2            4.4         2.9          1.4         0.2     Iris-setosa
3            4.9         3.1          1.5         0.1     Iris-setosa
4            4.8         3.4          1.6         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
138          6.7         3.0          5.2         2.3  Iris-virginica
139          6.3         2.5          5.0         1.9  Iris-virginica
140          6.5         3.0          5.2         2.0  Iris-virginica
141          6.2         3.4          5.4         2.3  Iris-virginica
142          5.9         3.0          5.1         1.8  Iris-virginica

[143 rows x 5 columns]

### Deleting a column which is not that realevent to our model

In [ ]:
df.drop('SepalLength',axis=1,inplace=True)

In [ ]:
df.head(5)

    SepalWidth  PetalLength  PetalWidth  Flower_Type
4          3.9          1.7         0.4  Iris-setosa
6          3.4          1.5         0.2  Iris-setosa
7          2.9          1.4         0.2  Iris-setosa
8          3.1          1.5         0.1  Iris-setosa
10         3.4          1.6         0.2  Iris-setosa

In [ ]:
# deleting using del function
del df['SepalWidth']
df.head(5)

    PetalLength  PetalWidth  Flower_Type
4           1.7         0.4  Iris-setosa
6           1.5         0.2  Iris-setosa
7           1.4         0.2  Iris-setosa
8           1.5         0.1  Iris-setosa
10          1.6         0.2  Iris-setosa

## Adding a column

In [ ]:
df['PL-PW']=df['PetalLength']-df['PetalWidth']
df.head(5)

    PetalLength  PetalWidth  Flower_Type  PL-PW
4           1.7         0.4  Iris-setosa    1.3
6           1.5         0.2  Iris-setosa    1.3
7           1.4         0.2  Iris-setosa    1.2
8           1.5         0.1  Iris-setosa    1.4
10          1.6         0.2  Iris-setosa    1.4

# Handling NaN values

### droping NaN rows

In [ ]:
df.isnull().sum()

PetalLength    0
PetalWidth     0
Flower_Type    0
PL-PW          0
dtype: int64

In [ ]:
#creating NaN values in dataframe using numpy library
import numpy as np
df.iloc[2:4,0:2]=np.nan
df.head(5)

    PetalLength  PetalWidth  Flower_Type  PL-PW
4           1.7         0.4  Iris-setosa    1.3
6           1.5         0.2  Iris-setosa    1.3
7           NaN         NaN  Iris-setosa    1.2
8           NaN         NaN  Iris-setosa    1.4
10          1.6         0.2  Iris-setosa    1.4

In [ ]:
# drop rows with NaN data values
df.dropna()

     PetalLength  PetalWidth     Flower_Type  PL-PW
4            1.7         0.4     Iris-setosa    1.3
6            1.5         0.2     Iris-setosa    1.3
10           1.6         0.2     Iris-setosa    1.4
11           1.4         0.1     Iris-setosa    1.3
12           1.1         0.1     Iris-setosa    1.0
..           ...         ...             ...    ...
144          5.2         2.3  Iris-virginica    2.9
145          5.0         1.9  Iris-virginica    3.1
146          5.2         2.0  Iris-virginica    3.2
147          5.4         2.3  Iris-virginica    3.1
148          5.1         1.8  Iris-virginica    3.3

[141 rows x 4 columns]

In [ ]:
df.iloc[2:4,0:2]=np.nan
df.head(5)

    PetalLength  PetalWidth  Flower_Type  PL-PW
4           1.7         0.4  Iris-setosa    1.3
6           1.5         0.2  Iris-setosa    1.3
7           NaN         NaN  Iris-setosa    1.2
8           NaN         NaN  Iris-setosa    1.4
10          1.6         0.2  Iris-setosa    1.4

### Filling NaN values

In [ ]:
df.PetalLength.fillna(df.PetalLength.mean(),inplace=True)
df.PetalWidth.fillna(df.PetalWidth.mean(),inplace=True)
df.head(5)

    PetalLength  PetalWidth  Flower_Type  PL-PW
4      1.700000    0.400000  Iris-setosa    1.3
6      1.500000    0.200000  Iris-setosa    1.3
7      3.907801    1.262411  Iris-setosa    1.2
8      3.907801    1.262411  Iris-setosa    1.4
10     1.600000    0.200000  Iris-setosa    1.4

## Handling Strings in Data 
### Changing data in Numerical which can be used in Algorithm for analysis

In [ ]:
def func(string):
    if string=='Iris-setosa':
        return 0
    elif string=='Iris-virginica':
        return 1
    else:
        return 2

In [ ]:
df['Num_Flower_Type']=df.Flower_Type.apply(func)
df

     PetalLength  PetalWidth     Flower_Type  PL-PW  Num_Flower_Type
4       1.700000    0.400000     Iris-setosa    1.3                0
6       1.500000    0.200000     Iris-setosa    1.3                0
7       3.907801    1.262411     Iris-setosa    1.2                0
8       3.907801    1.262411     Iris-setosa    1.4                0
10      1.600000    0.200000     Iris-setosa    1.4                0
..           ...         ...             ...    ...              ...
144     5.200000    2.300000  Iris-virginica    2.9                1
145     5.000000    1.900000  Iris-virginica    3.1                1
146     5.200000    2.000000  Iris-virginica    3.2                1
147     5.400000    2.300000  Iris-virginica    3.1                1
148     5.100000    1.800000  Iris-virginica    3.3                1

[143 rows x 5 columns]

## Data Cleaning and Analysis - Titanic Dataset

##### 1. Understanding meaning of each column
2. Analyse columns which can be deleted.
3. Replace columns with string values(if any) with int values for analysis.
4. Fill the null values of the Age column - Fill mean Survived age(mean age of the survived people) in the column where the person has survived and mean not Survived age (mean age of the people who have not survived) in the column where person has not survivedÂ¶
5. Draw Graphs for analysis.

In [ ]:
import pandas as pd #importing pandas module for creating dataframe
import math as m
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
Titanic = pd.read_csv("E:\MachineLearning Coding Ninjas Course\Pandas\datasets_11657_16098_train.csv") #Loading Titanic dataset
df = Titanic.copy()
df.drop("Name",axis=1,inplace = True)
Try=df.copy()
print(Try.groupby(['Pclass','Sex'])['Age'].count())
print(Try.groupby(['Pclass','Sex'])['Age'].mean())
print(Try.groupby(['Pclass','Sex'])['Age'].median())

Pclass  Sex
1       female     85
        male      101
2       female     74
        male       99
3       female    102
        male      253
Name: Age, dtype: int64
Pclass  Sex
1       female    34.611765
        male      41.281386
2       female    28.722973
        male      30.740707
3       female    21.750000
        male      26.507589
Name: Age, dtype: float64
Pclass  Sex
1       female    35.0
        male      40.0
2       female    28.0
        male      30.0
3       female    21.5
        male      25.0
Name: Age, dtype: float64

## Handling Age NaN values

In [ ]:
Try['Age']=Try.groupby(['Pclass','Sex'])['Age'].apply(lambda x:x.fillna(x.median()))
# Changing NaN values with class and sex wise age
print(Try['Age'].isnull().sum())

0

## Handling Cabin NaN values

In [ ]:
print(Try['Cabin'].isnull().sum())
# Here we are making a new column with the first letter of their class
Try['Deck']=Try['Cabin'].apply(lambda s: s[0] if pd.notnull(s) else 'M')
Try.head(5)

687

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Deck
0,1,0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,M
1,2,1,1,female,38.0,1,0,PC 17599,71.2833,C85,C,C
2,3,1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,M
3,4,1,1,female,35.0,1,0,113803,53.1000,C123,S,C
4,5,0,3,male,35.0,0,0,373450,8.0500,NaN,S,M

In [ ]:
Try[['Deck','Survived']].groupby('Deck')['Survived'].mean().plot(kind='bar',figsize(15,7))
plt.subtitle('Survival rates for different cabines')
plt.show()

SyntaxError: positional argument follows keyword argument (<ipython-input-80-7d7b1fd62f41>, line 1)

In [ ]:
Try.loc[Try['Embarked'].isnull()]
# getting the row where embarked values are NaN

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Deck
61,62,1,1,female,38.0,0,0,113572,80.0,B28,NaN,B
829,830,1,1,female,62.0,0,0,113572,80.0,B28,NaN,B

In [ ]:
Try.loc[Try['Embarked'].isnull(),'Embarked']='S'
# Filling the data with the searched Embarked values that are SouthHampton

In [ ]:
def f(string):
    if string=="male":
        return 0
    else:
        return 1

In [ ]:
print(Try.head(5))

   PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch  \
0            1         0       3    male  22.0      1      0
1            2         1       1  female  38.0      1      0
2            3         1       3  female  26.0      0      0
3            4         1       1  female  35.0      1      0
4            5         0       3    male  35.0      0      0

             Ticket     Fare Cabin Embarked Deck
0         A/5 21171   7.2500   NaN        S    M
1          PC 17599  71.2833   C85        C    C
2  STON/O2. 3101282   7.9250   NaN        S    M
3            113803  53.1000  C123        S    C
4            373450   8.0500   NaN        S    M

In [ ]:
Try['Gender']=Try.Sex.apply(f)

In [ ]:
Try.head(5)

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Deck,Gender
0,1,0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,M,0
1,2,1,1,female,38.0,1,0,PC 17599,71.2833,C85,C,C,1
2,3,1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,M,1
3,4,1,1,female,35.0,1,0,113803,53.1000,C123,S,C,1
4,5,0,3,male,35.0,0,0,373450,8.0500,NaN,S,M,0